<!--<footer class="footer">
    &copy; 2024 Atmos Weather App
    <p>Designed and developed by Vainavi.</p>
</footer>-->
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<script>
    console.log('Chart.js loaded successfully');
</script>
<script src="/js/script.js"></script> <!-- Your custom script.js -->
</body>
</html>
