# Node modules
node_modules/

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# OS specific files
.DS_Store
Thumbs.db

# Environment variable files
.env

# IDE specific files
.vscode/
.idea/
