<!DOCTYPE html>
<html>
<head>
  <%- include('partials/header') %>
</head>
<!--<body class="index-body">
  <div class="index-overlay"></div>-->
  <div class="container">
    <!--<div class="centered-content">
        <h1><i class="fas fa-cloud-sun logo"></i>Atmos Weather App</h1>-->
        <div id="geocoder"></div>
    </div>
    <div id="weather-info"></div>
    <canvas id="hourly-forecast-chart"></canvas>
  </div>
  <%- include('partials/footer') %>
</body>
</html>
